In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
sales = pd.read_csv('/Users/user/hts-forecast/volume/data/raw/sales_train_evaluation.csv')
cal = pd.read_csv('/Users/user/hts-forecast/volume/data/raw/calendar.csv')

In [3]:
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [34]:
#take the dataframe and only present the relevant category
def filter_aggregate_sales(frame, column_to_filter, column_value_to_filter, column_to_aggregate):
    frame = frame[frame[column_to_filter] == column_value_to_filter]
    frame = frame.groupby(column_to_aggregate).sum().T
    return frame

In [39]:
s['CA'] = filter_aggregate_sales(frame=sales, column_to_filter='state_id', column_value_to_filter='CA',
                                 column_to_aggregate='state_id')
s.head()

state_id     CA
d_1       14195
d_2       13805
d_3       10108
d_4       11047
d_5        9925

In [50]:
for state in sales.state_id.unique():
    states[state] = filter_aggregate_sales(frame=sales, column_to_filter='state_id', column_value_to_filter=state,
                                                    column_to_aggregate='state_id')

for store in sales.store_id.unique():
    states[store] = filter_aggregate_sales(frame=sales, column_to_filter='store_id', column_value_to_filter=store,
                                                    column_to_aggregate='store_id')    

for category in sales.cat_id.unique():
    states[category] = filter_aggregate_sales(frame=sales, column_to_filter='cat_id', column_value_to_filter=category,
                                                       column_to_aggregate='cat_id')  

states.head()

state_id,CA,TX,WI,CA_1,CA_2,CA_3,CA_4,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3,HOBBIES,HOUSEHOLD,FOODS
d_1,14195,9438,8998,4337,3494,4739,1625,2556,3852,3030,2704,2256,4038,3764,5689,23178
d_2,13805,9630,8314,4155,3046,4827,1777,2687,3937,3006,2194,1922,4198,3357,5634,22758
d_3,10108,6778,6897,2816,2121,3785,1386,1822,2731,2225,1562,2018,3317,2682,3927,17174
d_4,11047,7381,6984,3051,2324,4232,1440,2258,2954,2169,1251,2522,3211,2669,3865,18878
d_5,9925,5912,3309,2630,1942,3817,1536,1694,2492,1726,2,1175,2132,1814,2729,14603

In [55]:
type(states)

pandas.core.frame.DataFrame

In [56]:
frame1 = pd.DataFrame()
for state in sales.state_id.unique():
    frame1[state] = filter_aggregate_sales(frame=sales, column_to_filter='state_id', column_value_to_filter=state,
                                                    column_to_aggregate='state_id')

for store in sales.store_id.unique():
    frame1[store] = filter_aggregate_sales(frame=sales, column_to_filter='store_id', column_value_to_filter=store,
                                                    column_to_aggregate='store_id')    

for category in sales.cat_id.unique():
    frame1[category] = filter_aggregate_sales(frame=sales, column_to_filter='cat_id', column_value_to_filter=category,
                                                       column_to_aggregate='cat_id')  

frame1.head()

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [14]:
for state in sales.state_id.unique():
    print(state)

CA
TX
WI

In [29]:
states = filter_aggregate_sales(frame=sales, column_to_filter='state_id', column_value_to_filter='CA',
                                       column_to_aggregate='state_id')